#datepicker {
    width:180px;
    margin: 0 20px 20px 20px;
    background-color: #5eb5e0;
}


#datepicker > span:hover{cursor: pointer;}


body {
    background-color: #8959A8;
    font-family: Arial;
}
